.icon {
  display: inline-block;
  background-image: url("@/assets/atlas-units.png");
  background-repeat: no-repeat;
}
.tint {
  mask: url("@/assets/atlas-units.png");
  background-blend-mode: multiply;
}
