@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-serif: "Cinzel Decorative", serif;
  --font-sans: "Montserrat", sans-serif;

  --color-food-400: #65ea4b;
  --color-food-600: #37b31e;

  --color-production-400: #ffb42c;
  --color-production-600: #bb7800;

  --color-culture-400: #d883ff;
  --color-culture-600: #bc29ff;

  --color-publicWorks: #e4d1b8;
  --color-knowledge: #6ac3ff;

  --color-success: #29aa3a;
  --color-warning: #da9617;
  --color-danger: #d12727;

  --color-primary-100: #9491a6;
  --color-primary-300: #636078;
  --color-primary-500: #514e64;
  --color-primary-600: #3c3a4a;

  --color-primary-800: #22212b;

  --color-dark: #583c01;

  --shadow-md: 0 0 7px 0 rgba(0, 0, 0, 0.25);
}

@utility text-shadow-300 {
  text-shadow: 0px 0px 3px #777;
}

@utility text-shadow {
  text-shadow: 1px 1px 2px #444134;
}

@utility text-white-outline {
  text-shadow: 0 0 2px white;
}

@utility border-ornate {
  border-image: url("@/assets/ui/modal.png") 105;
  border-width: 70px;
  border-radius: 80px;
}

@utility border-ornate-small {
  border-image: url("@/assets/ui/modal-small.png") 60;
  border-width: 14px;
  border-radius: 14px;
}

@utility border-ornate-small-2 {
  border-image: url("@/assets/ui/modal-small-2.png") 120;
  border-width: 12px;
  border-radius: 12px;
}

@utility button-ornate {
  border-image: url("@/assets/ui/button.png") 15;
  border-width: 10px;
  border-radius: 10px;
}

@utility bg-ornate {
  background-image: url("@/assets/ui/modal-bg.png");
}

@utility shadow-3xl {
  box-shadow: 0 2px 8px 0px #000000;
}

@utility shadow-4xl {
  box-shadow: 0 3px 10px 1px #000000;
}

@utility shadow-5xl {
  box-shadow: 0 4px 12px 2px #000000;
}

:root {
  --tile-size: 256px;

  --color-primary-0: #9491a6;
  --color-primary-1: #636078;
  --color-primary-2: #514e64;
  --color-primary-3: #3c3a4a;
  --color-primary-4: #22212b;

  --color-secondary-1-0: #886892;
  --color-secondary-1-1: #6d5973;
  --color-secondary-1-2: #5a485f;
  --color-secondary-1-3: #433546;
  --color-secondary-1-4: #261e29;

  --color-secondary-2-0: #54676c;
  --color-secondary-2-1: #445559;
  --color-secondary-2-2: #323f42;
  --color-secondary-2-3: #1c2426;
  --color-secondary-2-4: #152024;

  --growth-color: #65ea4b;
  --production-color: #ffb42c;
  --culture-color: #d883ff;
  --public-works-color: #e4d1b8;

  --success-color: #29aa3a;
  --warning-color: #da9617;
  --danger-color: #d12727;

  --color-secondary-text: #5f5f5f;
  --color-danger-text: #ff2424;

  --progress-bar-height: 35px;
  --progress-bar-color: royalblue;
  --progress-bar-total-color: rgba(0, 0, 0, 0.7);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
}

.small {
  font-size: 14px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.growth-color {
  color: var(--growth-color);
}

.production-color {
  color: var(--production-color);
}

.culture-color {
  color: var(--culture-color);
}

.public-works-color {
  color: var(--public-works-color);
}

.center {
  text-align: center;
}
